node_modules
out
dist
src/main/*.js
src/main/*.d.ts
src/preload/*.js
src/preload/*.d.ts
src/shared/*.js
src/shared/*.d.ts
.DS_Store
*.log
.env
.vscode
.idea
coverage
mobile/www
mobile/*.apk
mobile/*.ipa
ios/App/App/public
ios/App/App/capacitor.config.json
ios/App/App/config.xml
ios/App/Pods
ios/App/build
ios/App/output
ios/DerivedData
ios/vendor
**/xcuserdata/
android/.gradle
android/app/build
android/build
android/local.properties
android/captures
android/.idea
data/*.sqlite
data/*.sqlite-wal
data/*.sqlite-shm
windows-host/data/*.sqlite
windows-host/data/*.sqlite-wal
windows-host/data/*.sqlite-shm

*.tsbuildinfo
